{% extends 'layout.html.twig' %}
{% trans_default_domain 'ums' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/chartist/css/chartist.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/toastr/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/slick/slick.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendor/slick/slick-theme.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendor/slider/src/jquery.skidder.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
{% endblock %}

{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "active", "", "", "", "", "", "", "", "active", "" %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                        class="fa fa-arrow-left"></i></a>{{ 'index_page.title'|trans }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">{{ 'index_page.title'|trans }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                {% block main_body %}
                    {% if role == 'User' %}
                        {% include 'index/user_index.html.twig' %}
                    {% endif %}
                    {% if role == 'Admin' %}
                        {% include 'index/admin_index.html.twig' %}
                    {% endif %}
                {% endblock %}
            </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/toastr/toastr.js') }}"></script>
    <script src="{{ asset('bundles_js/chartist.bundle.js') }}"></script>
    <script src="{{ asset('bundles_js/knob.bundle.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
    <script src="{{ asset('vendor/slick/slick.min.js') }}"></script>
    <script src="{{ asset('bundles_js/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/pages/tables/jquery-datatable.js') }}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script>
        $(document).ready(function(){
          $('#hot_product').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 4000,
          });
        });
    </script>
    <script src="{{ asset('vendor/slider/js/imagesloaded.js') }}"></script>
    <script src="{{ asset('vendor/slider/js/smartresize.js') }}"></script>
    <script src="{{ asset('vendor/slider/src/jquery.skidder.js') }}"></script>
    <script type="text/javascript">
        $('.slideshow').each( function() {
            var $slideshow = $(this);
            $slideshow.imagesLoaded( function() {
                $slideshow.skidder({
                    slideClass    : '.slide',
                    animationType : 'css',
                    scaleSlides   : true,
                    maxWidth : 180,
                    maxHeight: 250,
                    paging        : true,
                    autoPaging    : true,
                    pagingWrapper : ".skidder-pager",
                    pagingElement : ".skidder-pager-dot",
                    swiping       : true,
                    leftaligned   : false,
                    cycle         : true,
                    jumpback      : false,
                    speed         : 400,
                    autoplay      : true,
                    autoplayResume: false,
                    interval      : 4000,
                    transition    : "slide",
                    afterSliding  : function() {},
                    afterInit     : function() {}
                });
            });
        });
    </script>
{% endblock %}