{% trans_default_domain 'ums' %}
{% extends 'layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/popup_box.css') }}"/>
{% endblock %}
{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_histo, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "", "", "", "active", "", "", "", "", "", "", "active" %}
    {{ parent() }}
{% endblock %}
{% block main_content %}
<div id="overlay"></div>
    <div id="popupBox">
        <div id="popupContent">
            <div class="header">
                <p class="lead">{{ 'tracking_page.title'|trans }}</p>
            </div>
            <div class="body">
                {{ form_start(form, {'attr': {'class': 'form-auth-small'}}) }}
                <div class="form-group">
                    {{ form_label(form.product_id) }}
                    {{ form_widget(form.product_id, {'attr': {'class': 'form-control', 'id': 'signup-phone'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.production_date) }}
                    {{ form_widget(form.production_date, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.production_date) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.batch_id) }}
                    {{ form_widget(form.batch_id, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.batch_id) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.starting_time) }}
                    {{ form_widget(form.starting_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.starting_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.ranch_id) }}
                    {{ form_widget(form.ranch_id, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.ranch_id) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.milk_collection_time) }}
                    {{ form_widget(form.milk_collection_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.milk_collection_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.ranch_responsible) }}
                    {{ form_widget(form.ranch_responsible, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.ranch_responsible) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.factory) }}
                    {{ form_widget(form.factory, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.factory) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.factory_processing_time) }}
                    {{ form_widget(form.factory_processing_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.factory_processing_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.factory_responsible) }}
                    {{ form_widget(form.factory_responsible, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.factory_responsible) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.factory_delivery_time) }}
                    {{ form_widget(form.factory_delivery_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.factory_delivery_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.factory_delivery_responsible) }}
                    {{ form_widget(form.factory_delivery_responsible, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.factory_delivery_responsible) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.export_time) }}
                    {{ form_widget(form.export_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.export_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.export_responsible) }}
                    {{ form_widget(form.export_responsible, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.export_responsible) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.import_time) }}
                    {{ form_widget(form.import_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.import_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.import_responsible) }}
                    {{ form_widget(form.import_responsible, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.import_responsible) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.center_arrival_time) }}
                    {{ form_widget(form.center_arrival_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.center_arrival_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.arrival_responsible) }}
                    {{ form_widget(form.arrival_responsible, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.arrival_responsible) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.site_1) }}
                    {{ form_widget(form.site_1, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.site_1) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.site_1_delivery_time) }}
                    {{ form_widget(form.site_1_delivery_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.site_1_delivery_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.site_1_responsible) }}
                    {{ form_widget(form.site_1_responsible, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.site_1_responsible) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.site_2) }}
                    {{ form_widget(form.site_2, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.site_2) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.site_2_delivery_time) }}
                    {{ form_widget(form.site_2_delivery_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.site_2_delivery_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.site_2_responsible) }}
                    {{ form_widget(form.site_2_responsible, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.site_2_responsible) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.site_3) }}
                    {{ form_widget(form.site_3, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.site_3) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.site_3_delivery_time) }}
                    {{ form_widget(form.site_3_delivery_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.site_3_delivery_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.site_3_responsible) }}
                    {{ form_widget(form.site_3_responsible, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.site_3_responsible) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.client_id) }}
                    {{ form_widget(form.client_id, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.client_id) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.purchase_time) }}
                    {{ form_widget(form.purchase_time, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.purchase_time) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.seller_id) }}
                    {{ form_widget(form.seller_id, {'attr': {'class': 'form-control', 'id': 'signup-firstname'}}) }}
                    {{ form_errors(form.seller_id) }}
                </div>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="{{ 'tracking_page.btn'|trans }}">
                {{ form_end(form) }}
                <p></p>
                <a href="/tracking/data"  class="btn btn-primary btn-lg btn-block">
                    <i class="icon wb-plus" aria-hidden="false"></i>{{ 'tracking_page.return'|trans }}
                </a>
            </div>
        </div>
    </div>
    <div id="main-content" class="profilepage_2">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                        class="fa fa-arrow-left"></i></a>{{ 'tracking_page.page_title'|trans }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">{{ 'tracking_page.page_title'|trans }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                        <a href="javascript:void(0)" id="addRow" class="btn btn-primary m-b-15">
                            <i class="icon wb-plus" aria-hidden="false"></i>{{ 'tracking_page.add_row'|trans }}
                        </a>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable table-custom table-userList text-center">
                                <thead>
                                <tr>
                                    <th>{{ 'tracking_page.tracking_id' | trans }}</th>
                                    <th>{{ 'tracking_page.product_id' | trans }}</th>
                                    <th>{{ 'tracking_page.production_date' | trans }}</th>
                                    <th>{{ 'tracking_page.batch_id' | trans }}</th>
                                    <th>{{ 'tracking_page.starting_time' | trans }}</th>
                                    <th>{{ 'tracking_page.ranch_id' | trans }}</th>
                                    <th>{{ 'tracking_page.milk_collection_time' | trans }}</th>
                                    <th>{{ 'tracking_page.ranch_responsible' | trans }}</th>
                                    <th>{{ 'tracking_page.factory' | trans }}</th>
                                    <th>{{ 'tracking_page.factory_processing_time' | trans }}</th>
                                    <th>{{ 'tracking_page.factory_responsible' | trans }}</th>
                                    <th>{{ 'tracking_page.factory_delivery_time' | trans }}</th>
                                    <th>{{ 'tracking_page.factory_delivery_responsible' | trans }}</th>
                                    <th>{{ 'tracking_page.export_time' | trans }}</th>
                                    <th>{{ 'tracking_page.export_responsible' | trans }}</th>
                                    <th>{{ 'tracking_page.import_time' | trans }}</th>
                                    <th>{{ 'tracking_page.import_responsible' | trans }}</th>
                                    <th>{{ 'tracking_page.center_arrival_time' | trans }}</th>
                                    <th>{{ 'tracking_page.arrival_responsible' | trans }}</th>
                                    <th>{{ 'tracking_page.site_1' | trans }}</th>
                                    <th>{{ 'tracking_page.site_1_delivery_time' | trans }}</th>
                                    <th>{{ 'tracking_page.site_1_responsible' | trans }}</th>
                                    <th>{{ 'tracking_page.site_2' | trans }}</th>
                                    <th>{{ 'tracking_page.site_2_delivery_time' | trans }}</th>
                                    <th>{{ 'tracking_page.site_2_responsible' | trans }}</th>
                                    <th>{{ 'tracking_page.site_3' | trans }}</th>
                                    <th>{{ 'tracking_page.site_3_delivery_time' | trans }}</th>
                                    <th>{{ 'tracking_page.site_3_responsible' | trans }}</th>
                                    <th>{{ 'tracking_page.client_id' | trans }}</th>
                                    <th>{{ 'tracking_page.purchase_time' | trans }}</th>
                                    <th>{{ 'tracking_page.seller_id' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for t in tracking %}
                                    <tr class="gradeA">
                                        <td><a href="/tracking/{{ t.TrackingId }}&product" >
                                        {{ t.TrackingId }}</a></td>
                                        <td>{{ t.ProductId }}</td>
                                        <td>{{ t.ProductionDate|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.BatchId }}</td>
                                        <td>{{ t.StartingTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.RanchId }}</td>
                                        <td>{{ t.MilkCollectionTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.RanchResponsible }}</td>
                                        <td>{{ t.Factory }}</td>
                                        <td>{{ t.FactoryProcessingTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.FactoryResponsible }}</td>
                                        <td>{{ t.FactoryDeliveryTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.FactoryDeliveryResponsible }}</td>
                                        <td>{{ t.ExportTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.ExportResponsible }}</td>
                                        <td>{{ t.ImportTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.ImportResponsible }}</td>
                                        <td>{{ t.CenterArrivalTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.ArrivalResponsible }}</td>
                                        <td>{{ t.Site1 }}</td>
                                        <td>{{ t.Site1DeliveryTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.Site1Responsible }}</td>
                                        <td>{{ t.Site2 }}</td>
                                        <td>{{ t.Site2DeliveryTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.Site2Responsible }}</td>
                                        <td>{{ t.Site3 }}</td>
                                        <td>{{ t.Site3DeliveryTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.Site3Responsible }}</td>
                                        <td>{{ t.ClientId }}</td>
                                        <td>{{ t.PurchaseTime|date('Y年m月d日h:m:s') }}</td>
                                        <td>{{ t.SellerId }}</td>
                                        <td class="actions">
                                            <a href="/tracking/edit/{{ t.TrackingId }}&product" class="btn btn-info" title="edit">
                                                <i class="fa fa-edit"></i></a>
                                            <a href="/tracking/delete/{{ t.TrackingId }}&product" class="btn btn-danger delete_product_confirm" title="Delete">
                                                <i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles_js/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/pages/tables/jquery-datatable.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('.delete_product_confirm').click(function (e) {
                e.preventDefault();
                var linkURL = $(this).attr("href");
                confirmBeforeRedirect(linkURL);
            });

            function confirmBeforeRedirect(linkURL) {
                swal({
                    title: "确定删除该记录吗？",
                    text: "该操作无法恢复！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    confirmButtonText: "确定删除",
                    cancelButtonText: "取消"
                }, function () {
                    window.location.href = linkURL;
                });
            };
        })
    </script>

    <script>
        $('#addRow').click(function () {
            $('#overlay').fadeIn('fast');
            $('#popupBox').fadeIn('fast');
            $('#popupContent').fadeIn('fast');
        });

        $('#overlay, #popupCancel').click(function () {
            $('#overlay').fadeOut('fast');
            $('#popupBox').fadeOut('fast');
            $('#popupContent').fadeOut('fast');
        });

    </script>
{% endblock %}