{% trans_default_domain 'ums' %}
{% extends 'layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/popup_box.css') }}"/>
{% endblock %}
{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "", "", "active", "", "", "", "", "", "active", "" %}
    {{ parent() }}
{% endblock %}
{% block main_content %}
<div id="overlay"></div>
    <div id="popupBox">
         <div id="popupContent">
             <div class="header">
                <p class="lead" id="tracking_form_title">{{ 'tracking_page.register'|trans }}</p>
            </div>
            <div class="body">
                {{ form_start(form) }}
                <small class="text-muted">{{ form_label(form.batch_number)}} </small>
                <p>{{ form_widget(form.batch_number, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.product_id)}} </small>
                <p>{{ form_widget(form.product_id, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>

                <small class="text-muted">{{ form_label(form.production_date)}} </small>
                <p>{{ form_widget(form.production_date, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.batch_id)}} </small>
                <p>{{ form_widget(form.batch_id, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{  form_label(form.starting_time)}} </small>
                <p>{{  form_widget(form.starting_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.ranch_id)}} </small>
                <p>{{ form_widget(form.ranch_id, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.milk_collection_time)}} </small>
                <p>{{ form_widget(form.milk_collection_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.ranch_responsible)}} </small>
                <p>{{ form_widget(form.ranch_responsible, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.factory)}} </small>
                <p>{{ form_widget(form.factory, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.factory_processing_time)}} </small>
                <p>{{ form_widget(form.factory_processing_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.factory_responsible)}} </small>
                <p>{{ form_widget(form.factory_responsible, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.factory_delivery_time)}} </small>
                <p>{{ form_widget(form.factory_delivery_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.factory_delivery_responsible)}} </small>
                <p>{{ form_widget(form.factory_delivery_responsible, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.export_time)}} </small>
                <p>{{ form_widget(form.export_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.export_responsible)}} </small>
                <p>{{ form_widget(form.export_responsible, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.import_time)}} </small>
                <p>{{ form_widget(form.import_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.import_responsible)}} </small>
                <p>{{ form_widget(form.import_responsible, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.center_arrival_time)}} </small>
                <p>{{ form_widget(form.center_arrival_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.arrival_responsible)}} </small>
                <p>{{ form_widget(form.arrival_responsible, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.site_1)}} </small>
                <p>{{ form_widget(form.site_1, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.site_1_delivery_time)}} </small>
                <p>{{ form_widget(form.site_1_delivery_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.site_1_responsible)}} </small>
                <p>{{ form_widget(form.site_1_responsible, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.site_2)}} </small>
                <p>{{ form_widget(form.site_2, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.site_2_delivery_time)}} </small>
                <p>{{ form_widget(form.site_2_delivery_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.site_2_responsible)}} </small>
                <p>{{ form_widget(form.site_2_responsible, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.site_3)}} </small>
                <p>{{ form_widget(form.site_3, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.site_3_delivery_time)}} </small>
                <p>{{ form_widget(form.site_3_delivery_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.site_3_responsible)}} </small>
                <p>{{ form_widget(form.site_3_responsible, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="{{ 'tracking_page.btn'|trans }}">
                    <a href="javascript:void(0)" id="popupCancel" class="btn btn-default">{{ 'tracking_page.return'|trans }}</a>
                </div>
                {{ form_end(form) }}
            </div>
         </div>
    </div>

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                        class="fa fa-arrow-left"></i></a>{{ 'tracking_page.header'|trans }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">{{ 'tracking_page.header'|trans }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                        {% if is_granted('ROLE_SELLER') or is_granted('ROLE_ADMIN') %}
                        <a href="javascript:void(0)" id="addrow" class="btn btn-primary m-b-15">
                            <i class="icon wb-plus" aria-hidden="false"></i>{{ 'tracking_page.add_row'|trans }}
                        </a>
                        <a href="javascript:void(0)" id="addbatch" class="btn btn-primary m-b-15">
                            <i class="icon wb-plus" aria-hidden="false"></i>{{ 'tracking_page.add_batch'|trans }}
                        </a>
                        {% endif %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic dataTable table-custom table-userList text-center">
                                    <thead>
                                    <tr>
                                        <th>{{ 'tracking_page.tracking_id' | trans }}</th>
                                        <th>{{ 'tracking_page.product_id' | trans }}</th>
                                        <th>{{ 'tracking_page.production_date' | trans }}</th>
                                        <th>{{ 'tracking_page.batch_id' | trans }}</th>
                                        <th>{{ 'tracking_page.starting_time' | trans }}</th>
                                        <th>{{ 'tracking_page.ranch_id' | trans }}</th>
                                        <th>{{ 'tracking_page.factory' | trans }}</th>
                                        <th>{{ 'product_page.action' | trans }}</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>{{ 'tracking_page.tracking_id' | trans }}</th>
                                        <th>{{ 'tracking_page.product_id' | trans }}</th>
                                        <th>{{ 'tracking_page.production_date' | trans }}</th>
                                        <th>{{ 'tracking_page.batch_id' | trans }}</th>
                                        <th>{{ 'tracking_page.starting_time' | trans }}</th>
                                        <th>{{ 'tracking_page.ranch_id' | trans }}</th>
                                        <th>{{ 'tracking_page.factory' | trans }}</th>
                                        <th>{{ 'product_page.action' | trans }}</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for t in product_trackings %}
                                            <tr class="gradeA">
                                                <td><a href="/tracking/{{ t.TrackingId }}&tracking" >{{ t.TrackingId }}</a></td>
                                                <td><a href="/product/show/{{ t.ProductId }}&product" >{{ t.ProductId }}</a></td>
                                                <td>{{ t.ProductionDate|date('Y年m月d日h:m:s') }}</td>
                                                <td><a href="/tracking/batch_show/{{ t.BatchId }}&batch_show" >{{ t.BatchId }}</a></td>
                                                <td>{{ t.StartingTime|date('Y年m月d日h:m:s') }}</td>
                                                <td>{{ t.RanchId }}</td>
                                                <td>{{ t.Factory }}</td>
                                                <td class="actions">
                                                {% if is_granted('ROLE_SELLER') or is_granted('ROLE_ADMIN') %}
                                                <a class="btn btn-info modify_btn_tracking">
                                                    <i class="fa fa-edit"></i></a>
                                                <a href="/tracking/delete/{{ t.TrackingId }}&product" class="btn btn-danger delete_product_confirm" title="Delete">
                                                    <i class="fa fa-trash-o"></i></a>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                            </table>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles_js/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/pages/tables/jquery-datatable.js') }}"></script>
    <script>
        function readURL(input) {
          if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function(e) {
              $('#img_prev').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
          }
        }
        $("#product_image_path").change(function() {
          readURL(this);
        });


        {% if not product_existence %}
            swal({
                title: "出错啦",
                text: "商品编号不存在",
                type: "error"
            });
            $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
        {% endif %}

        {% if not user_existence %}
            swal({
                title: "出错啦",
                text: "该用户不存在",
                type: "error"
            });
            $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
        {% endif %}

        $('#addrow').click(function () {
            $('#tracking_form_title').text('{{ 'tracking_page.register'|trans }}');
            $('#product_tracking_batch_number').val(1);
            $('#product_tracking_tracking_id').val('');
            $('#product_tracking_product_id').val('');
            $('#product_tracking_production_date').val('');
            $('#product_tracking_ranch_id').val('');
            $('#product_tracking_production_date').val('');
            $('#product_tracking_starting_time').val('');
            $('#product_tracking_ranch_id').val('');
            $('#product_tracking_milk_collection_time').val('');
            $('#product_tracking_ranch_responsible').val('');
            $('#product_tracking_factory').val('');
            $('#product_tracking_factory_processing_time').val('');
            $('#product_tracking_factory_responsible').val('');
            $('#product_tracking_factory_delivery_time').val('');
            $('#product_tracking_factory_delivery_responsible').val('');
            $('#product_tracking_export_time').val('');
            $('#product_tracking_export_responsible').val('');
            $('#product_tracking_import_time').val('');
            $('#product_tracking_import_responsible').val('');
            $('#product_tracking_center_arrival_time').val('');
            $('#product_tracking_arrival_responsible').val('');
            $('#product_tracking_site_1').val('');
            $('#product_tracking_site_1_delivery_time').val('');
            $('#product_tracking_site_1_responsible').val('');
            $('#product_tracking_site_2').val('');
            $('#product_tracking_site_2_delivery_time').val('');
            $('#product_tracking_site_2_responsible').val('');
            $('#product_tracking_site_3').val('');
            $('#product_tracking_site_3_delivery_time').val('');
            $('#product_tracking_site_3_responsible').val('');
            $('#product_tracking_client_id').val('');
            $('#product_tracking_purchase_time').val('');
            $('#product_tracking_seller_id').val('');
            $('#overlay').fadeIn('fast');
            $('#popupBox').fadeIn('fast');
            $('#popupContent').fadeIn('fast');
        });
        $('#overlay, #popupCancel').click(function () {
            $('#overlay').fadeOut('fast');
            $('#popupBox').fadeOut('fast');
            $('#popupContent').fadeOut('fast');
        });




        $('#addbatch').click(function () {
            $('#tracking_form_title').text('{{ 'tracking_page.batch_register'|trans }}');
            $('#product_tracking_batch_number').val('');
            $('#product_tracking_tracking_id').val('');
            $('#product_tracking_product_id').val('');
            $('#product_tracking_production_date').val('');
            $('#product_tracking_ranch_id').val('');
            $('#product_tracking_starting_time select').each(function (i) {
                $(this).find('option:first-child').attr('selected', true);
            });
            $('#product_tracking_ranch_id').val('');
            $('#product_tracking_milk_collection_time').val('');
            $('#product_tracking_ranch_responsible').val('');
            $('#product_tracking_factory').val('');
            $('#product_tracking_factory_processing_time').val('');
            $('#product_tracking_factory_responsible').val('');
            $('#product_tracking_factory_delivery_time').val('');
            $('#product_tracking_factory_delivery_responsible').val('');
            $('#product_tracking_export_time').val('');
            $('#product_tracking_export_responsible').val('');
            $('#product_tracking_import_time').val('');
            $('#product_tracking_import_responsible').val('');
            $('#product_tracking_center_arrival_time').val('');
            $('#product_tracking_arrival_responsible').val('');
            $('#product_tracking_site_1').val('');
            $('#product_tracking_site_1_delivery_time').val('');
            $('#product_tracking_site_1_responsible').val('');
            $('#product_tracking_site_2').val('');
            $('#product_tracking_site_2_delivery_time').val('');
            $('#product_tracking_site_2_responsible').val('');
            $('#product_tracking_site_3').val('');
            $('#product_tracking_site_3_delivery_time').val('');
            $('#product_tracking_site_3_responsible').val('');
            $('#product_tracking_client_id').val('');
            $('#product_tracking_purchase_time').val('');
            $('#product_tracking_seller_id').val('');
            $('#overlay').fadeIn('fast');
            $('#popupBox').fadeIn('fast');
            $('#popupContent').fadeIn('fast');
        });





        $('.modify_btn_tracking').click(function (e) {
            data = {"tracking_id":  $('td:first-child', $(e.target).parents('tr')).text()};
            $.ajax({
                url: '/tracking/modify',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (product_tracking) {
                    $('#product_tracking_batch_number').val('1');
                    $('#tracking_form_title').text('{{ 'tracking_page.modify'|trans }}');
                    $('#product_tracking_tracking_id').val(product_tracking['tracking_id']);
                    $('#product_tracking_product_id').val(product_tracking['product_id']);
                    $('#product_tracking_production_date').val(product_tracking['production_date']);
                    $('#product_tracking_batch_id').val(product_tracking['batch_id']);
                    $('#product_tracking_production_date').val(product_tracking['production_date']);
                    $date_time = product_tracking['starting_time'].split('-');
                    $('#product_tracking_starting_time select').each(function (i) {
                        $(this).find('option').filter(function () {
                            return parseInt($(this).text()) === parseInt($date_time[i]);
                        }).attr('selected', true);
                    });
                    $('#product_tracking_ranch_id').val(product_tracking['ranch_id']);
                    $('#product_tracking_milk_collection_time').val(product_tracking['milk_collection_time']);
                    $('#product_tracking_ranch_responsible').val(product_tracking['ranch_responsible']);
                    $('#product_tracking_factory').val(product_tracking['factory']);
                    $('#product_tracking_factory_processing_time').val(product_tracking['factory_processing_time']);
                    $('#product_tracking_factory_responsible').val(product_tracking['factory_responsible']);
                    $('#product_tracking_factory_delivery_time').val(product_tracking['factory_delivery_time']);
                    $('#product_tracking_factory_delivery_responsible').val(product_tracking['factory_delivery_responsible']);
                    $('#product_tracking_export_time').val(product_tracking['export_time']);
                    $('#product_tracking_export_responsible').val(product_tracking['export_responsible']);
                    $('#product_tracking_import_time').val(product_tracking['import_time']);
                    $('#product_tracking_import_responsible').val(product_tracking['import_responsible']);
                    $('#product_tracking_center_arrival_time').val(product_tracking['center_arrival_time']);
                    $('#product_tracking_arrival_responsible').val(product_tracking['arrival_responsible']);
                    $('#product_tracking_site_1').val(product_tracking['site_1']);
                    $('#product_tracking_site_1_delivery_time').val(product_tracking['site_1_delivery_time']);
                    $('#product_tracking_site_1_responsible').val(product_tracking['site_1_responsible']);
                    $('#product_tracking_site_2').val(product_tracking['site_2']);
                    $('#product_tracking_site_2_delivery_time').val(product_tracking['site_2_delivery_time']);
                    $('#product_tracking_site_2_responsible').val(product_tracking['site_2_responsible']);
                    $('#product_tracking_site_3').val(product_tracking['site_3']);
                    $('#product_tracking_site_3_delivery_time').val(product_tracking['site_3_delivery_time']);
                    $('#product_tracking_site_3_responsible').val(product_tracking['site_3_responsible']);
                    $('#product_tracking_client_id').val(product_tracking['client_id']);
                    $('#product_tracking_purchase_time').val(product_tracking['purchase_time']);
                    $('#product_tracking_seller_id').val(product_tracking['seller_id']);
                    $('#overlay').fadeIn('fast');
                    $('#popupBox').fadeIn('fast');
                    $('#popupContent').fadeIn('fast');
                }
            });
        });
     $(document).ready(function () {
            $('.delete_product_confirm').click(function (e) {
                e.preventDefault();
                var linkURL = $(this).attr("href");
                confirmBeforeRedirect(linkURL);
            });
            function confirmBeforeRedirect(linkURL) {
                swal({
                    title: "确定删除该记录吗？",
                    text: "该操作无法恢复！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    confirmButtonText: "确定删除",
                    cancelButtonText: "取消"
                }, function () {
                    window.location.href = linkURL;
                });
            };
        })

    </script>


{% endblock %}