{% trans_default_domain 'ums' %}
{% extends 'layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/popup_box.css') }}"/>
{% endblock %}
{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_histo, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "", "", "", "active", "", "", "", "", "", "active", "" %}
    {{ parent() }}
{% endblock %}
{% block main_content %}
    <div id="overlay"></div>
    <div id="popupBox">
        <div id="popupContent">
            <div class="header">
                <p class="lead">{{ 'tracking_page.title'|trans }}</p>
                        {{ form_start(form) }}
                        <small class="text-muted">{{ form_label(form.StartMessage) }} *</small>
                        <p>{{ form_widget(form.StartMessage,  {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.StartImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.StartImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>


                        <small class="text-muted">{{ form_label(form.RanchMessage) }} *</small>
                        <p>{{ form_widget(form.RanchMessage, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.RanchImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.RanchImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>


                        <small class="text-muted">{{ form_label(form.FactoryMessage) }} *</small>
                        <p>{{ form_widget(form.FactoryMessage, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.FactoryImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.FactoryImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <small class="text-muted">{{ form_label(form.FactoryDeliveryMessage) }} *</small>
                        <p>{{ form_widget(form.FactoryDeliveryMessage, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.FactoryDeliveryImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.FactoryDeliveryImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <small class="text-muted">{{ form_label(form.ExportMessage) }} *</small>
                        <p>{{ form_widget(form.ExportMessage, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.ExportImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.ExportImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <small class="text-muted">{{ form_label(form.ImportMessage) }} *</small>
                        <p>{{ form_widget(form.ImportMessage, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.ImportImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.ImportImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <small class="text-muted">{{ form_label(form.CenterMessage) }} *</small>
                        <p>{{ form_widget(form.CenterMessage, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.CenterImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.CenterImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <small class="text-muted">{{ form_label(form.Site1Message) }} *</small>
                        <p>{{ form_widget(form.Site1Message, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.Site1ImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.Site1ImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <small class="text-muted">{{ form_label(form.Site2Message) }} *</small>
                        <p>{{ form_widget(form.Site2Message, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.Site2ImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.Site2ImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <small class="text-muted">{{ form_label(form.Site3Message) }} *</small>
                        <p>{{ form_widget(form.Site3Message, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.Site3ImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.Site3ImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <small class="text-muted">{{ form_label(form.ClientMessage) }} *</small>
                        <p>{{ form_widget(form.ClientMessage, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>

                        <img id="img_prev" src="{{ asset('/uploads/images/trackings/' ~ tracking_images.ClientImagePath) }}"  width="264" height="264"/>
                        <p>{{ form_widget(form.ClientImagePath, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="{{ 'product_page.btn'|trans }}">&nbsp;&nbsp;
                            <a href="javascript:void(0)" id="popupCancel" class="btn btn-default">{{ 'purchase_page.return'|trans }}</a>
                        </div>
                        {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div id="main-content" class="profilepage_2">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                        class="fa fa-arrow-left"></i></a>{{ 'tracking_page.page_title'|trans }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">{{ 'tracking_page.page_title'|trans }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        {% include 'tracking/tracking_block.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles_js/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/pages/tables/jquery-datatable.js') }}"></script>
    <script>
        $('#addRow').click(function () {
            $('#overlay').fadeIn('fast');
            $('#popupBox').fadeIn('fast');
            $('#popupContent').fadeIn('fast');
        });

        $('#overlay, #popupCancel').click(function () {
            $('#overlay').fadeOut('fast');
            $('#popupBox').fadeOut('fast');
            $('#popupContent').fadeOut('fast');
        });
    </script>

{% endblock %}