{% trans_default_domain 'ums' %}


{% if is_block %}
<head>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}"/>

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/color_skins.css') }}"/>

</head>
<body><div style="margin-left: 20px">
{% endif %}

{% block main_content %}
    <div class="body">
        <div class="timeline-item animated fadeIn faster green">
            <span class="date">{{ tracking.StartingTime|date('Y年m月d日h:m:s') }} </span>
            {% if not is_block %}
            <span class="date" align="right">
                <a href="javascript:void(0)" id="modify_button" class="btn btn-primary m-b-15">
                    <i class="icon wb-plus" aria-hidden="false"></i>{{ 'tracking_page.edit_row'|trans }}
                 </a>
            </span>
            {% endif %}
            <h5> {{ tracking_product }}{{ tracking_images.StartMessage}}</h5>
            <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.StartImagePath)}}" height="300" width="300"/>
        </div>

        <div class="timeline-item animated fadeIn slower warning">
            <span class="date">{{ tracking.MilkCollectionTime|date('Y年m月d日h:m:s')  }}  负责人： {{ tracking.RanchResponsible }}</span>
            <h5> {{ tracking_images.RanchMessage}}</h5>
            <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.RanchImagePath)}}" height="300" width="300"/>
        </div>

        <div class="timeline-item animated fadeIn slower blue">
            <span class="date">{{ tracking.FactoryProcessingTime|date('Y年m月d日h:m:s') }}  负责人：{{ tracking.FactoryResponsible }}</span>
            <h5> {{ tracking_images.FactoryMessage}}</h5>
            <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.FactoryImagePath)}}" height="300" width="300"/>
        </div>

        <div class="timeline-item animated fadeIn slower green">
            <span class="date">{{ tracking.FactoryDeliveryTime|date('Y年m月d日h:m:s') }}  负责人：{{ tracking.FactoryDeliveryResponsible }}</span>
            <h5> {{ tracking_images.FactoryDeliveryMessage}}</h5>
            <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.FactoryDeliveryImagePath)}}" height="300" width="300"/>
        </div>

        <div class="timeline-item animated fadeIn slower warning">
            <span class="date">{{ tracking.ExportTime|date('Y年m月d日h:m:s') }}  负责人：{{ tracking.ExportResponsible }}</span>
            <h5> {{ tracking_images.ExportMessage}}</h5>
            <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.ExportImagePath)}}" height="300" width="300"/>
        </div>

        <div class="timeline-item animated fadeIn slower blue">
            <span class="date">{{ tracking.ImportTime|date('Y年m月d日h:m:s') }}  负责人：{{ tracking.ImportResponsible }}</span>
            <h5> {{ tracking_images.ImportMessage}}</h5>
            <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.ImportImagePath)}}" height="300" width="300"/>
        </div>

        <div class="timeline-item animated fadeIn slower green">
            <span class="date">{{ tracking.CenterArrivalTime|date('Y年m月d日h:m:s') }}  负责人：{{ tracking.ArrivalResponsible }}</span>
            <h5> {{ tracking_images.CenterMessage}}</h5>
            <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.CenterImagePath)}}" height="300" width="300"/>
        </div>

        <div class="timeline-item animated fadeIn slower warning">
            <span class="date">{{ tracking.Site1DeliveryTime|date('Y年m月d日h:m:s') }}  负责人：{{ tracking.Site1Responsible }}</span>
            <h5> {{ tracking_images.Site1Message}}</h5>
            <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.Site1ImagePath)}}" height="300" width="300"/>
        </div>

        <div class="timeline-item animated fadeIn slower blue">
            <span class="date">{{ tracking.Site2DeliveryTime|date('Y年m月d日h:m:s') }}  负责人：{{ tracking.Site2Responsible }}</span>
            <h5> {{ tracking_images.Site2Message}}</h5>
            <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.Site2ImagePath)}}" height="300" width="300"/>
        </div>

        <div class="timeline-item animated fadeIn slower green">
            <span class="date">{{ tracking.Site3DeliveryTime|date('Y年m月d日h:m:s') }}  负责人：{{ tracking.Site3Responsible }}</span>
            <h5> {{ tracking_images.Site3Message}}</h5>
            <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.Site3ImagePath)}}" height="300" width="300"/>
        </div>

        {% if purchase_time is not null %}
            <div class="timeline-item animated fadeIn slower warning">
                <span class="date">{{ purchase_time|date('Y年m月d日h:m:s') }}</span>
                <h5> {{ tracking_images.ClientMessage}}</h5>
                <img src="{{ asset('/uploads/images/trackings/' ~ tracking_images.ClientImagePath)}}" height="300" width="300"/>
            </div>
        {% endif %}


    </div>
{% endblock %}
{% if is_block %}
</div></body>
{% endif %}