{% trans_default_domain 'ums' %}
{% extends 'layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/popup_box.css') }}"/>
{% endblock %}
{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "", "", "", "", "", "", "active", "", "", "active" %}
    {{ parent() }}
{% endblock %}
{% block main_content %}
<div id="overlay"></div>
    <div id="popupBox" class="animated flipInY">
        <div id="popupContent">
            <div class="header">
                <p class="lead" id="product_form_title">{{ 'product_page.register'|trans }}</p>
            </div>
            <div class="body">
                {{ form_start(form) }}
                <small class="text-muted">{{ form_label(form.product_name) }} *</small>
                <p>{{ form_widget(form.product_name, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.barcode) }} *</small>
                <p>{{ form_widget(form.barcode, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.image_path) }}</small>
                <p>{{ form_widget(form.image_path, {'attr': {'class': 'form-control'}}) }}</p>
                <img id="img_prev" src="{{ asset('uploads/images/preview.png') }}" alt="your image" width="264" height="264"/>
                <hr>
                <small class="text-muted">{{ form_label(form.category) }} *</small>
                <p>{{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.shelf_life) }} *</small>
                <p>{{ form_widget(form.shelf_life, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.promotion) }}</small>
                <p>{{ form_widget(form.promotion, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.stock) }}</small>
                <p>{{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.description) }}</small>
                <p>{{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="{{ 'product_page.btn'|trans }}">&nbsp;&nbsp;
                    <a href="javascript:void(0)" id="popupCancel" class="btn btn-default">{{ 'purchase_page.return'|trans }}</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                        <a href="javascript:void(0)" id="addRow" class="btn btn-primary m-b-15">
                            <i class="icon wb-plus" aria-hidden="false"></i>{{ 'product_page.add_row'|trans }}
                        </a>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic dataTable table-custom table-userList text-center">
                                    <thead>
                                    <tr>
                                        <th>{{ 'product_page.product_id' | trans }}</th>
                                        <th>{{ 'product_page.product_name' | trans }}</th>
                                        <th>{{ 'product_page.barcode' | trans }}</th>
                                        <th>{{ 'product_page.image_path' | trans }}</th>
                                        <th>{{ 'product_page.category' | trans }}</th>
                                        <th>{{ 'product_page.shelf_life' | trans }}</th>
                                        <th>{{ 'product_page.promotion' | trans }}</th>
                                        <th>{{ 'product_page.stock' | trans }}</th>
                                        <th>{{ 'product_page.description' | trans }}</th>
                                        <th>{{ 'product_page.action' | trans }}</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>{{ 'product_page.product_id' | trans }}</th>
                                        <th>{{ 'product_page.product_name' | trans }}</th>
                                        <th>{{ 'product_page.barcode' | trans }}</th>
                                        <th>{{ 'product_page.image_path' | trans }}</th>
                                        <th>{{ 'product_page.category' | trans }}</th>
                                        <th>{{ 'product_page.shelf_life' | trans }}</th>
                                        <th>{{ 'product_page.promotion' | trans }}</th>
                                        <th>{{ 'product_page.stock' | trans }}</th>
                                        <th>{{ 'product_page.description' | trans }}</th>
                                        <th>{{ 'product_page.action' | trans }}</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for p in products %}
                                        <tr class="gradeA">
                                            <td>{{ p.ProductId }}</td>
                                            <td>{{ p.ProductName }}</td>
                                            <td>{{ p.Barcode }}</td>
                                            <td>
                                                <img src="{{ asset('/uploads/images/products/' ~ p.ImagePath)}}" height="42" width="42"/>
                                            </td>
                                            <td>{{ p.Category }}</td>
                                            <td>{{ p.ShelfLife }}</td>
                                            <td>{{ p.Promotion }}</td>
                                            <td>{{ p.Stock }}</td>
                                            <td>{{ p.Description }}</td>
                                            <td class="actions">
                                                <a class="btn btn-info modify_btn">
                                                    <i class="fa fa-edit"></i></a>
                                                <a class="remove_btn btn btn-danger delete_user_confirm">
                                                    <i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles_js/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/pages/tables/jquery-datatable.js') }}"></script>
    <script>
        function readURL(input) {
          if (input.files && input.files[0]) {
            let reader = new FileReader();
            reader.onload = function(e) {
              $('#img_prev').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
          }
        }
        $("#product_image_path").change(function() {
          readURL(this);
        });

        $('#addRow').click(function () {
            $('#product_form_title').text('{{ 'product_page.register'|trans }}');
            $('#product_product_name').val('');
            $('#product_barcode').val('');
            $('#product_image_path').val('');
            $('#product_category').val('');
            $('#product_shelf_life').val('');
            $('#product_promotion').val('');
            $('#product_stock').val('');
            $('#product_description').val('');
            $('#overlay').fadeIn('fast');
            $('#popupBox').fadeIn('fast');
            $('#popupContent').fadeIn('fast');
        });

        $('#overlay, #popupCancel').click(function () {
            $('#overlay').fadeOut('fast');
            $('#popupBox').fadeOut('fast');
            $('#popupContent').fadeOut('fast');
            $('#img_prev').attr('src', "{{ asset('uploads/images/preview.png') }}");
        });

        {% if not product_existance %}
            swal({
                title: "出错啦",
                text: "商品编号不存在",
                type: "error"
            });
            $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
        {% endif %}


        $('.modify_btn').click(function (e) {
            data = {"product_id": $('td:first-child', $(e.target).parents('tr')).text()};
            $.ajax({
                url: '/product/modify',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (product) {
                    $('#product_form_title').text('{{ 'product_page.modify'|trans }}');
                    $('#product_product_id').val(product['product_id']);
                    $('#product_product_name').val(product['product_name']);
                    $('#product_barcode').val(product['barcode']);
                    if (product['image_path'] === '' || product['image_path'] === null){
                        $('#img_prev').attr('src', "{{ asset('uploads/images/preview.png') }}");
                    }else{
                        $('#img_prev').attr('src', "{{ asset('uploads/images/products/') }}"+product['image_path']);
                    }
                    $('#product_category').val(product['category']);
                    $('#product_shelf_life').val(product['shelf_life']);
                    $('#product_promotion').val(product['promotion']);
                    $('#product_stock').val(product['stock']);
                    $('#product_description').val(product['description']);
                    $('#overlay').fadeIn('fast');
                    $('#popupBox').fadeIn('fast');
                    $('#popupContent').fadeIn('fast');
                }
            });
        });

        $('.remove_btn').click(function(e) {
            swal({
                title: "确定删除该购买记录吗？",
                text: "该操作无法恢复！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "确定删除！",
                cancelButtonText: "取消"
            }, function() {
                data = {"product_id": $('td:first-child', $(e.target).parents('tr')).text()};
                $.ajax({
                    url: '/product/remove',
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(data),
                });
                location.reload();
            });
        });

    </script>
{% endblock %}