
    </script>
>>>>>>> develop
{% endblock %}
                <div class="card">
                    <div class="body">
                        <button id="addToTable" class="btn btn-primary m-b-15" type="button">
                            <i class="icon wb-plus" aria-hidden="true"></i>{{ 'product_page.add_row' | trans }}
                        </button>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped" cellspacing="0"
                                   id="main-table">
                                <thead>
                                <tr>
                                    <th>{{ 'product_page.product_id' | trans }}</th>
                                    <th>{{ 'product_page.product_name' | trans }}</th>
                                    <th>{{ 'product_page.barcode' | trans }}</th>
                                    <th>{{ 'product_page.image_path' | trans }}</th>
                                    <th>{{ 'product_page.category' | trans }}</th>
                                    <th>{{ 'product_page.shelf_life' | trans }}</th>
                                    <th>{{ 'product_page.promotion' | trans }}</th>
                                    <th>{{ 'product_page.stock' | trans }}</th>
                                    <th>{{ 'product_page.description' | trans }}</th>
                                    <th>{{ 'product_page.action' | trans }}</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>{{ 'product_page.product_id' | trans }}</th>
                                    <th>{{ 'product_page.product_name' | trans }}</th>
                                    <th>{{ 'product_page.barcode' | trans }}</th>
                                    <th>{{ 'product_page.image_path' | trans }}</th>
                                    <th>{{ 'product_page.category' | trans }}</th>
                                    <th>{{ 'product_page.shelf_life' | trans }}</th>
                                    <th>{{ 'product_page.promotion' | trans }}</th>
                                    <th>{{ 'product_page.stock' | trans }}</th>
                                    <th>{{ 'product_page.description' | trans }}</th>
                                    <th>{{ 'product_page.action' | trans }}</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for p in products %}
                                    <tr class="gradeA">
                                        <td>{{ p.ProductId }}</td>
                                        <td>{{ p.ProductName }}</td>
                                        <td>{{ p.Barcode }}</td>
                                        <td>{{ p.ImagePath }}</td>
                                        <td>{{ p.Category }}</td>
                                        <td>{{ p.ShelfLife }}</td>
                                        <td>{{ p.Promotion }}</td>
                                        <td>{{ p.Stock }}</td>
                                        <td>{{ p.Description }}</td>
                                        <td class="actions">
                                            <button class="btn btn-sm btn-icon btn-pure btn-default on-editing m-r-5 button-save"
                                                    data-toggle="tooltip" data-original-title="Save" hidden><i
                                                        class="icon-drawer" aria-hidden="true"></i></a>
                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-editing button-discard"
                                                        data-toggle="tooltip" data-original-title="Discard" hidden><i
                                                            class="icon-close" aria-hidden="true"></i></a>
                                                    <button class="btn btn-sm btn-icon btn-pure btn-default on-default m-r-5 button-edit"
                                                            data-toggle="tooltip" data-original-title="Edit"><i
                                                                class="icon-pencil" aria-hidden="true"></i></a>
                                                        <button class="btn btn-sm btn-icon btn-pure btn-default on-default button-remove"
                                                                data-toggle="tooltip" data-original-title="Remove"><i
                                                                    class="icon-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </button>
                        </div>
                    </div>
    </script>
>>>>>>> develop
{% endblock %}