{% extends 'layout.html.twig' %}
{% trans_default_domain 'ums' %}

{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_histo, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, nav_menu, nav_admin = "", "", "", "", "", "", "", "active", "", "active" %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div id="main-content" class="product">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                        class="fa fa-arrow-left"></i></a>{{ 'product_page.page_title'|trans }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">{{ 'product_page.page_title'|trans }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 m-auto">
                <div class="card">
                    <div class="header">
                        <h2>{{ 'product_page.edit_form'|trans }}</h2>
                    </div>
                    <div class="body">
                        {{ form_start(form) }}
                        <small class="text-muted">{{ form_label(form.product_name) }}</small>
                        <p>{{ form_widget(form.product_name, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>
                        <small class="text-muted">{{ form_label(form.barcode) }}</small>
                        <p>{{ form_widget(form.barcode, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>
                        <small class="text-muted">{{ form_label(form.image_path) }}</small>
                        <p></p>
                        <img src="{{ asset('/uploads/images/products/' ~ image_path)}}" height="100" width="100"/>
                        <p></p>
                        <p>{{ form_widget(form.image_path, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>
                        <small class="text-muted">{{ form_label(form.category) }}</small>
                        <p>{{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>
                        <small class="text-muted">{{ form_label(form.shelf_life) }}</small>
                        <p>{{ form_widget(form.shelf_life, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>
                        <small class="text-muted">{{ form_label(form.promotion) }}</small>
                        <p>{{ form_widget(form.promotion, {'attr': {'class': 'form-control'}}) }}</p>
                        <hr>
                        <small class="text-muted">{{ form_label(form.stock) }}</small>
                        <p>{{ form_widget(form.stock) }}</p>
                        <hr>
                        <small class="text-muted">{{ form_label(form.description) }}</small>
                        <p>{{ form_widget(form.description) }}</p>
                        <hr>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="{{ 'user_infos.btn.submit'|trans }}">&nbsp;&nbsp;
                            <a href="/product" class="btn btn-default">{{ 'user_infos.btn.cancel'|trans }}</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}