{% trans_default_domain 'ums' %}
{% extends 'layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/popup_box.css') }}"/>
{% endblock %}
{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "", "", "", "", "", "", "active", "", "", "active" %}
    {{ parent() }}
{% endblock %}
{% block main_content %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered ">
                                    <thead>
                                        <th style="width: 200px">{{ 'product_page.product_id' | trans }}</th>
                                        <td>{{ product.ProductId }}</td>
                                    </thead>
                                    <thead>
                                        <th>{{ 'product_page.product_name' | trans }}</th>
                                        <td>{{ product.ProductName }}</td>
                                    </thead>
                                    <thead>
                                        <th>{{ 'product_page.barcode' | trans }}</th>
                                        <td>{{ product.Barcode }}</td>
                                    </thead>
                                    <thead>
                                        <td class="description" style="font-weight:bold">{{ 'product_page.image_path' | trans }}</td>
                                        <td>
                                            <img src="{{ asset('/uploads/images/products/' ~ product.ImagePath)}}" height="300" width="300"/>
                                        </td>
                                    </thead>
                                    <thead>
                                        <th>{{ 'product_page.category' | trans }}</th>
                                        <td>{{ product.Category }}</td>
                                    </thead>
                                    <thead>
                                        <th>{{ 'product_page.shelf_life' | trans }}</th>
                                        <td>{{ product.ShelfLife }}</td>
                                    </thead>
                                    <thead>
                                        <th>{{ 'product_page.promotion' | trans }}</th>
                                        <td>{{ product.Promotion }}</td>
                                    </thead>
                                    <thead>
                                        <th>{{ 'product_page.stock' | trans }}</th>
                                        <td>{{ product.Stock }}</td>
                                    </thead>
                                    <thead>
                                        <th>{{ 'product_page.description' | trans }}</th>
                                        <td>{{ product.Description }}</td>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles_js/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/pages/tables/jquery-datatable.js') }}"></script>
{% endblock %}