{% trans_default_domain 'ums' %}
{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendor/pagination/simplePagination.css') }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock %}
{% block sidebar %}
    {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') %}
        {% set tab_menu_index, tab_menu_profile, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "", "", "", "", "", "", "", "active", "", "active" %}
    {% endif %}
    {% if is_granted('ROLE_SELLER') or is_granted('ROLE_USER') %}
        {% set tab_menu_index, tab_menu_profile, tab_menu_histo, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "", "", "active", "", "", "", "", "", "", "active", "" %}
    {% endif %}
    {{ parent() }}
{% endblock %}
{% block main_content %}
    <div id="overlay"></div>
    <div id="popupBox" class="animated flipInY">
        <div id="popupContent">
            <div class="header">
                <p class="lead" id="purchase_form_title">{{ 'purchase_page.register'|trans }}</p>
            </div>
            <div class="body">
                {{ form_start(form) }}
                <small class="text-muted">{{ form_label(form.user_id) }} *</small>
                <p>{{ form_widget(form.user_id, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.product_id) }} *</small>
                <p>{{ form_widget(form.product_id, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.purchase_time) }} *</small>
                <p>{{ form_widget(form.purchase_time, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.tracking_id) }} *</small>
                <p>{{ form_widget(form.tracking_id, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.seller_id) }}</small>
                <p>{{ form_widget(form.seller_id, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="{{ 'purchase_page.btn'|trans }}">
                    <a href="javascript:void(0)" id="popupCancel" class="btn btn-default">{{ 'purchase_page.return'|trans }}</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                        class="fa fa-arrow-left"></i></a>{{ 'purchase_page.title'|trans }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">{{ 'purchase_page.title'|trans }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">

                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
                            <a href="javascript:void(0)" id="addRow" class="btn btn-primary m-b-15">
                                <i class="icon wb-plus" aria-hidden="false"></i>{{ 'purchase_page.index.add_row'|trans }}
                            </a>
                            {% endif %}

                            <div id="record_table" class="table-responsive">
                                <table class="table table-bordered table-striped table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="sortable" sortfield="purchase_id">{{ 'purchase_page.purchase_id'|trans }}</th>
                                            <th class="sortable" sortfield="user_id">{{ 'purchase_page.user_id'|trans }}</th>
                                            <th class="sortable" sortfield="product_id">{{ 'purchase_page.product_id'|trans }}</th>
                                            <th class="sortable" sortfield="purchase_time">{{ 'purchase_page.purchase_time'|trans }}</th>
                                            <th class="sortable" sortfield="tracking_id">{{ 'purchase_page.tracking_id'|trans }}</th>
                                            <th class="sortable" sortfield="seller_id">{{ 'purchase_page.seller_id'|trans }}</th>
                                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
                                                <th>{{ 'purchase_page.activity'|trans }}</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="copy_source" style="display: none">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SELLER') %}
                                            <td>
                                                <a class="btn btn-info modify_btn"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-danger remove_btn"><i class="fa fa-trash"></i></a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/tools.js') }}"></script>
    <script src="{{ asset('js/external/moment.min.js') }}"></script>
    <script src="{{ asset('vendor/pagination/jquery.simplePagination.js') }}"></script>
    <script>
        function insert_records(records, record_table){
            i = 0;
            for (i in records){
                let row = record_table.find('.copy_source').clone().removeAttr('class style');
                let columns = row.children('td');
                columns.eq(0).text(records[i]['purchase_id']);
                columns.eq(1).text(records[i]['user_id']);
                columns.eq(2).text(records[i]['product_id']);
                columns.eq(3).text(moment(new Date(records[i]['purchase_time'])).format('YYYY-MM-DD HH:MM:SS'));
                columns.eq(4).text(records[i]['tracking_id']);
                columns.eq(5).text(records[i]['seller_id']);
                row.appendTo(record_table.find('tbody'));
            }
        }

        $(document).ready(function () {
            let table_name = 'purchase_history';
            let page_number = "1";
            let sort_field = "purchase_id";
            let sort_order = null;
            let count = "10";
            let where_clause = null;

            $('#record_table').renderTable(table_name, page_number, sort_field, sort_order, count, where_clause, insert_records);
        });

        $('#addRow').click(function () {
            $('#purchase_form_title').text('{{ 'purchase_page.register'|trans }}');
            $('#purchase_purchase_id').val('');
            $('#purchase_user_id').val('');
            $('#purchase_product_id').val('');
            $('#purchase_tracking_id').val('');
            $('#purchase_purchase_time select').each(function (i) {
                $(this).find('option:first-child').attr('selected', true);
            });
            $('#purchase_seller_id').val('');
            $('#overlay').fadeIn('fast');
            $('#popupBox').fadeIn('fast');
            $('#popupContent').fadeIn('fast');
        });

        $('#overlay, #popupCancel').click(function () {
            $('#overlay').fadeOut('fast');
            $('#popupBox').fadeOut('fast');
            $('#popupContent').fadeOut('fast');
        });

        {% if not user_existance %}
            swal({
                title: "出错啦",
                text: "该用户不存在",
                type: "error"
            });
            $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
        {% endif %}

        {% if not product_existance %}
            swal({
                title: "出错啦",
                text: "商品编号不存在",
                type: "error"
            });
            $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
        {% endif %}

        {% if not seller_existance %}
            swal({
                title: "出错啦",
                text: "销售员不存在",
                type: "error"
            });
            $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
        {% endif %}

        {% if not tracking_existance %}
            swal({
                title: "出错啦",
                text: "溯源记录不存在",
                type: "error"
            });
            $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
        {% endif %}

        $(document).on('click', '.modify_btn', function (e) {
            data = {"purchase_id": $('td:first-child', $(e.target).parents('tr')).text()};
            $.ajax({
                url: '/purchasehistory/modify',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (purchaseHistory) {
                    $('#purchase_purchase_id').val(purchaseHistory['purchase_id']);
                    $('#purchase_form_title').text('{{ 'purchase_page.modify'|trans }}');
                    $('#purchase_user_id').val(purchaseHistory['user_id']);
                    $('#purchase_product_id').val(purchaseHistory['product_id']);
                    $('#purchase_tracking_id').val(purchaseHistory['tracking_id']);
                    $date_time = purchaseHistory['purchase_time'].split('-');
                    $('#purchase_purchase_time select').each(function (i) {
                        $(this).find('option').filter(function () {
                            return parseInt($(this).text()) === parseInt($date_time[i]);
                        }).attr('selected', true);
                    });
                    $('#purchase_seller_id').val(purchaseHistory['seller_id']);
                    $('#overlay').fadeIn('fast');
                    $('#popupBox').fadeIn('fast');
                    $('#popupContent').fadeIn('fast');
                }
            });
        });

        $(document).on('click', '.remove_btn', function (e) {
            swal({
                title: "确定删除该购买记录吗？",
                text: "该操作无法恢复！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "确定删除！",
                cancelButtonText: "取消"
            }, function() {
                data = {"purchase_id": $('td:first-child', $(e.target).parents('tr')).text()};
                $.ajax({
                    url: '/purchasehistory/remove',
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(data),
                });
                location.reload();
            });
        });

    </script>
{% endblock %}