{% trans_default_domain 'ums' %}
{% extends 'layout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>

{% endblock %}
{% block sidebar %}
    {% set nav_user_active, tab_purchase = true, true %}
    {{ parent() }}
{% endblock %}
{% block main_content %}
    <div id="main-content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <a href="/purchasehistory/register"  class="btn btn-primary m-b-15">
                                <i class="icon wb-plus" aria-hidden="false"></i>{{ 'purchase_page.index.add_row'|trans }}
                            </a>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped" cellspacing="0" id="addrowExample">
                                    <thead>
                                    <tr>
                                        <th>{{ 'purchase_page.purchase_id'|trans }}</th>
                                        <th>{{ 'purchase_page.user_id'|trans }}</th>
                                        <th>{{ 'purchase_page.product_id'|trans }}</th>
                                        <th>{{ 'purchase_page.date_purchase'|trans }}</th>
                                        <th>{{ 'purchase_page.purchase_tracking_id'|trans }}</th>
                                        <th>{{ 'purchase_page.quantity'|trans }}</th>
                                        <th>{{ 'purchase_page.activity'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>{{ 'purchase_page.purchase_id'|trans }}</th>
                                        <th>{{ 'purchase_page.user_id'|trans }}</th>
                                        <th>{{ 'purchase_page.product_id'|trans }}</th>
                                        <th>{{ 'purchase_page.date_purchase'|trans }}</th>
                                        <th>{{ 'purchase_page.purchase_tracking_id'|trans }}</th>
                                        <th>{{ 'purchase_page.quantity'|trans }}</th>
                                        <th>{{ 'purchase_page.activity'|trans }}</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for p in purchase %}
                                        <tr class="gradeA">
                                            <td>{{ p.PurchaseId }}</td>
                                            <td>{{ p.UserId }}</td>
                                            <td>{{ p.ProductId }}</td>
                                            <td>{{ p.DatePurchase|date('Y-m-d') }}</td>
                                            <td>{{ p.PurchaseTrackingId }}</td>
                                            <td>{{ p.Quantity }}</td>
                                            <td class="actions">
                                                <button >
                                                    <a href="/purchasehistory/register"><i class="icon-pencil"></i></a>
                                                </button>
                                                <button class="btn btn-sm btn-icon btn-pure btn-default on-default button-remove"
                                                        data-toggle="tooltip" data-original-title="Remove"><i class="icon-trash" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles_js/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/pages/tables/jquery-datatable.js') }}"></script>
{% endblock %}