{% trans_default_domain 'ums' %}
{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>
{% endblock %}
{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "", "", "", "", "", "", "", "active", "active", "" %}
    {{ parent() }}
{% endblock %}
{% block main_content %}
    <div id="overlay"></div>
    <div id="popupBox" class="animated flipInY">
        <div id="popupContent">
            <div class="header">
                <p class="lead" id="purchase_form_title">{{ 'purchase_page.register'|trans }}</p>
            </div>
            <div class="body">
                {{ form_start(form) }}
                <small class="text-muted">{{ form_label(form.user_phone) }} *</small>
                <p>{{ form_widget(form.user_phone, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.product_id) }} *</small>
                <p>{{ form_widget(form.product_id, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.date_purchase) }} *</small>
                <p>{{ form_widget(form.date_purchase, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.purchase_tracking_id) }} *</small>
                <p>{{ form_widget(form.purchase_tracking_id, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.quantity) }}</small>
                <p>{{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="{{ 'purchase_page.btn'|trans }}">&nbsp;&nbsp;
                    <a href="javascript:void(0)" id="popupCancel" class="btn btn-default">{{ 'purchase_page.return'|trans }}</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">

                            <a href="javascript:void(0)" id="addRow" class="btn btn-primary m-b-15">
                                <i class="icon wb-plus" aria-hidden="false"></i>{{ 'purchase_page.index.add_row'|trans }}
                            </a>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped" cellspacing="0" id="addrowExample">
                                    <thead>
                                    <tr>
                                        <th>{{ 'purchase_page.purchase_id'|trans }}</th>
                                        <th>{{ 'purchase_page.phone'|trans }}</th>
                                        <th>{{ 'purchase_page.product_id'|trans }}</th>
                                        <th>{{ 'purchase_page.date_purchase'|trans }}</th>
                                        <th>{{ 'purchase_page.purchase_tracking_id'|trans }}</th>
                                        <th>{{ 'purchase_page.quantity'|trans }}</th>
                                        <th>{{ 'purchase_page.activity'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>{{ 'purchase_page.purchase_id'|trans }}</th>
                                        <th>{{ 'purchase_page.phone'|trans }}</th>
                                        <th>{{ 'purchase_page.product_id'|trans }}</th>
                                        <th>{{ 'purchase_page.date_purchase'|trans }}</th>
                                        <th>{{ 'purchase_page.purchase_tracking_id'|trans }}</th>
                                        <th>{{ 'purchase_page.quantity'|trans }}</th>
                                        <th>{{ 'purchase_page.activity'|trans }}</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for p in purchase %}
                                        <tr class="gradeA">
                                            <td>{{ p.PurchaseId }}</td>
                                            <td>{{ p.UserPhone }}</td>
                                            <td>{{ p.ProductId }}</td>
                                            <td>{{ p.DatePurchase|date('Y-m-d') }}</td>
                                            <td>{{ p.PurchaseTrackingId }}</td>
                                            <td>{{ p.Quantity }}</td>
                                            <td class="actions">
                                                <button class="modify_btn">
                                                    <a href="javascript:void(0)"><i class="icon-pencil"></i></a>
                                                </button>
                                                <button class="remove_btn btn btn-sm btn-icon btn-pure btn-default on-default button-remove"
                                                        data-toggle="tooltip" data-original-title="Remove"><a href="javascript:void(0)">
                                                        <i class="icon-trash" aria-hidden="true"></i></a>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles_js/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/pages/tables/jquery-datatable.js') }}"></script>

    <script>
        $('#addRow').click(function () {
            $('#purchase_form_title').text('{{ 'purchase_page.register'|trans }}');
            $('#purchase_purchase_id').val('');
            $('#purchase_user_phone').val('');
            $('#purchase_product_id').val('');
            $('#purchase_purchase_tracking_id').val('');
            $('#purchase_quantity').val('');
            $('#purchase_date_purchase select').each(function (i) {
                $(this).find('option:first-child').attr('selected', true);
            });
            $('#overlay').fadeIn('fast');
            $('#popupBox').fadeIn('fast');
            $('#popupContent').fadeIn('fast');
        });

        $('#overlay, #popupCancel').click(function () {
            $('#overlay').fadeOut('fast');
            $('#popupBox').fadeOut('fast');
            $('#popupContent').fadeOut('fast');
        });

        {% if not user_existance %}
            swal({
                title: "出错啦",
                text: "该手机号不存在",
                type: "error"
            });
            $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
        {% endif %}

        {% if not product_existance %}
            swal({
                title: "出错啦",
                text: "商品编号不存在",
                type: "error"
            });
            $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
        {% endif %}

        {% if not purchase_existance %}
            swal({
                title: "出错啦",
                text: "该购买记录不存在",
                type: "error"
            });
            $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
        {% endif %}


        $('.modify_btn').click(function (e) {
            data = {"purchase_id": $('td:first-child', $(e.target).parents('tr')).text()};
            $.ajax({
                url: '/purchasehistory/modify',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (purchaseHistory) {
                    $('#purchase_purchase_id').val(purchaseHistory['purchase_id']);
                    $('#purchase_form_title').text('{{ 'purchase_page.modify'|trans }}');
                    $('#purchase_user_phone').val(purchaseHistory['user_phone']);
                    $('#purchase_product_id').val(purchaseHistory['product_id']);
                    $('#purchase_purchase_tracking_id').val(purchaseHistory['purchase_tracking_id']);
                    $('#purchase_quantity').val(purchaseHistory['quantity']);
                    $date_time = purchaseHistory['date_purchase'].split('-');
                    $('#purchase_date_purchase select').each(function (i) {
                        $(this).find('option').filter(function () {
                            return parseInt($(this).text()) === parseInt($date_time[i]);
                        }).attr('selected', true);
                    });
                    $('#overlay').fadeIn('fast');
                    $('#popupBox').fadeIn('fast');
                    $('#popupContent').fadeIn('fast');
                }
            });
        });

        $('.remove_btn').click(function(e) {
            swal({
                title: "确定删除该购买记录吗？",
                text: "该操作无法恢复！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "确定删除！",
                cancelButtonText: "取消"
            }, function() {
                data = {"purchase_id": $('td:first-child', $(e.target).parents('tr')).text()};
                $.ajax({
                    url: '/purchasehistory/remove',
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(data),
                });
                location.reload();
            });
        });

    </script>
{% endblock %}