{% extends 'layout.html.twig' %}
{% trans_default_domain 'ums' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>
{% endblock %}

{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_histo, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, nav_menu, nav_admin = "", "", "", "", "active", "", "", "", "", "active" %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div id="main-content" class="profilepage_2">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                        class="fa fa-arrow-left"></i></a>{{ 'userList_pages.title_users'|trans }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">{{ 'userList_pages.title_users'|trans }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic dataTable table-custom table-userList text-center">
                                    <thead>
                                    <tr>
                                        <th class="text-left">{{ 'user_infos.name'|trans }}</th>
                                        <th>{{ 'user_infos.username'|trans }}</th>
                                        <th>{{ 'user_infos.sex.title'|trans }}</th>
                                        <th>{{ 'user_infos.email'|trans }}</th>
                                        <th>{{ 'user_infos.user_id'|trans }}</th>
                                        <th>{{ 'user_infos.date_birth'|trans }}</th>
                                        <th>{{ 'user_infos.id_card'|trans }}</th>
                                        <th>{{ 'user_infos.phone'|trans }}</th>
                                        <th>{{ 'user_infos.wechat'|trans }}</th>
                                        <th>{{ 'user_infos.address'|trans }}</th>
                                        <th>{{ 'user_infos.region'|trans }}</th>
                                        <th>{{ 'user_infos.responsible_id'|trans }}</th>
                                        <th>{{ 'user_infos.enabled.title'|trans }}</th>
                                        <th>{{ 'user_infos.date_register'|trans }}</th>
                                        <th>{{ 'userList_pages.action'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td class="text-left">
                                                <span class="font-weight-bold">{{ user.firstname ~ " " ~ user.lastname }}</span>
                                            </td>
                                            <td>{{ user.username }}</td>
                                            <td>
                                                {% if user.sex %}{% set user_sex = 'user_infos.sex.' ~ user.sex %}
                                                {% else %}{% set user_sex = 'user_infos.sex.0' %}{% endif %}
                                                {{ user_sex|trans }}
                                            </td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.userid }}</td>
                                            <td>{{ user.datebirth|date('Y年m月d日') }}</td>
                                            <td>{{ user.idcard }}</td>
                                            <td>{{ user.phone }}</td>
                                            <td>{{ user.wechat }}</td>
                                            <td>{{ user.address }}</td>
                                            <td>
                                                {% set user_region = 'region.'~user.region %}
                                                {{ user_region|trans }}
                                            </td>
                                            <td>{{ user.responsibleid }}</td>
                                            <td>
                                                {% if user.enabled %}{% set user_enabeld = 'user_infos.enabled.' ~ user.enabled %}
                                                {% else %}{% set user_enabeld = 'user_infos.enabled.0' %}{% endif %}
                                                {{ user_enabeld|trans }}
                                            </td>
                                            <td>{{ user.dateregister|date('Y年m月d日') }}</td>
                                            <td>
                                                <a href="/userList/edit/{{ user.userid }}&Users"
                                                   class="btn btn-info"><i
                                                            class="fa fa-edit"></i></a>
                                                <a href="/userList/delete/{{ user.userid }}&Users"
                                                   class="btn btn-danger delete_user_confirm"><i
                                                            class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles_js/datatablescripts.bundle.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery-datatable/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/pages/tables/jquery-datatable.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.delete_user_confirm').click(function (e) {
                e.preventDefault();
                var linkURL = $(this).attr("href");
                confirmBeforeRedirect(linkURL);
            });

            function confirmBeforeRedirect(linkURL) {
                swal({
                    title: "确定删除该用户吗？",
                    text: "该操作无法恢复！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    confirmButtonText: "确定删除",
                    cancelButtonText: "取消"
                }, function () {
                    window.location.href = linkURL;
                });
            };
        })
    </script>
{% endblock %}