{% extends 'layout.html.twig' %}
{% trans_default_domain 'ums' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/pagination/simplePagination.css') }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>
{% endblock %}

{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "", "", "", "", "", "active", "", "", "", "active" %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
    <div id="overlay"></div>
    <div id="popupBox" class="animated flipInY">
        <div id="popupContent">
            <div class="header">
                <h2>{{ 'userList_pages.add_user_seller_admin'|trans }}</h2>
            </div>
            <div class="body">
                {{ form_start(form) }}
                <small class="text-muted">{{ form_label(form.username) }} *</small>
                <p>{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors" id="error_username">{{ form_errors(form.username) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.firstname) }}</small>
                <p>{{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.lastname) }} *</small>
                <p>{{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.lastname) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.sex) }} *</small>
                <p>{{ form_widget(form.sex, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.email) }} *</small>
                <p>{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors" id="error_email">{{ form_errors(form.email) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.id_card) }} *</small>
                <p>{{ form_widget(form.id_card, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.id_card) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.date_birth) }}</small>
                <p>{{ form_widget(form.date_birth) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.phone) }} *</small>
                <p>{{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors" id="error_phone">{{ form_errors(form.phone) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.wechat) }}</small>
                <p>{{ form_widget(form.wechat, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.address) }} *</small>
                <p>{{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.address) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.region) }} *</small>
                <p>{{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.region) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.plainPassword) }} *</small>
                <p>{{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.plainPassword) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.enabled) }} *</small>
                <p>{{ form_widget(form.enabled, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.roles) }} *</small>
                <p>{{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.roles) }}</div>
                <hr>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="{{ 'user_infos.btn.submit'|trans }}">&nbsp;&nbsp;
                    <a href="javascript:void(0)" id="popupCancel" class="btn btn-default">{{ 'user_infos.btn.cancel'|trans }}</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div id="main-content" class="profilepage_2">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                        class="fa fa-arrow-left"></i></a>{{ 'userList_pages.title_admins'|trans }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">{{ 'userList_pages.title_admins'|trans }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <a href="javascript:void(0)" id="addRow" class="btn btn-primary m-b-15 text-white">{{ 'userList_pages.add_admin'|trans }}</a>
                            <div id="record_table" class="table-responsive">
                                <table class="table table-bordered table-striped table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="sortable" sortfield="CONCAT(lastname, firstname)">{{ 'user_infos.name'|trans }}</th>
                                            <th class="sortable" sortfield="username">{{ 'user_infos.username'|trans }}</th>
                                            <th class="sortable" sortfield="sex" optionlist="user_infos.sex">{{ 'user_infos.sex.title'|trans }}</th>
                                            <th class="sortable" sortfield="email">{{ 'user_infos.email'|trans }}</th>
                                            <th class="sortable" sortfield="user_id">{{ 'user_infos.employee_id'|trans }}</th>
                                            <th class="sortable" sortfield="date_birth">{{ 'user_infos.date_birth'|trans }}</th>
                                            <th class="sortable" sortfield="id_card">{{ 'user_infos.id_card'|trans }}</th>
                                            <th class="sortable" sortfield="phone">{{ 'user_infos.phone'|trans }}</th>
                                            <th class="sortable" sortfield="wechat">{{ 'user_infos.wechat'|trans }}</th>
                                            <th class="sortable" sortfield="address">{{ 'user_infos.address'|trans }}</th>
                                            <th class="sortable" sortfield="region" optionlist="region">{{ 'user_infos.region'|trans }}</th>
                                            <th class="sortable" sortfield="responsible_region">{{ 'user_infos.responsible_region'|trans }}</th>
                                            <th class="sortable" sortfield="enabled" optionlist="user_infos.enabled">{{ 'user_infos.enabled.title'|trans }}</th>
                                            <th class="sortable" sortfield="date_register">{{ 'user_infos.date_register'|trans }}</th>
                                            <th>{{ 'userList_pages.action'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="copy_source" style="display: none">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-info"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-danger delete_user_confirm"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <h4>{{ 'userList_pages.add_user_by_file'|trans }}</h4>
                            <hr>
                            <div>
                                {{ form_start(form_file) }}
                                {{ form_widget(form_file) }}
                                <input type="text" disabled="disable" value="文件名" id="filename_display" style="margin-right:30px;">
                                <input type="submit" class="btn btn-primary" value="{{ 'user_infos.btn.submit'|trans }}">
                                {{ form_end(form_file) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/tools.js') }}"></script>
    <script src="{{ asset('js/external/moment.min.js') }}"></script>
    <script src="{{ asset('vendor/pagination/jquery.simplePagination.js') }}"></script>
    <script>
        function insert_records(records, record_table){
            i = 0;
            for (i in records){
                let row = record_table.find('.copy_source').clone().removeAttr('class style');
                let columns = row.children('td');
                columns.eq(0).html( '<a href="/user/show/'+ records[i]['user_id']+ '&user">' + records[i]['lastname'] + ' ' + records[i]['firstname']+ '</a>');  // full_name
                columns.eq(1).text(records[i]['username']);  // user_name
                columns.eq(2).text(records[i]['sex'] === '1' ? "{{ 'user_infos.sex.1'|trans }}" : "{{ 'user_infos.sex.0'|trans }}");  // sex
                columns.eq(3).text(records[i]['email']); // email
                columns.eq(4).text(records[i]['user_id']); // userid
                columns.eq(5).text(moment(new Date(records[i]['date_birth'])).format('YYYY-MM-DD')); // date_birth
                columns.eq(6).text(records[i]['id_card']); // id_card
                columns.eq(7).text(records[i]['phone']); // phone
                columns.eq(8).text(records[i]['wechat']); // wechat
                columns.eq(9).text(records[i]['address']); // address
                columns.eq(10).text(translate('region.'+records[i]['region'])); // user_region
                let responsible_regions = [];
                let parsed_array = parseDC2Array(records[i]['responsible_region']);
                for (i in parsed_array){
                    responsible_regions.push(translate('region.'+parsed_array[i]));
                }
                columns.eq(11).text(responsible_regions.toString());
                columns.eq(12).text(records[i]['enabled'] === '1' ? "{{ 'user_infos.enabled.1'|trans }}" : "{{ 'user_infos.enabled.0'|trans }}"); // enabled
                columns.eq(13).text(moment(new Date(records[i]['date_register'])).format('YYYY-MM-DD')); // date_register
                columns.eq(14).children('a').eq(0).attr("href", "/userList/edit/"+ records[i]['user_id'] +"&Users"); // modify button
                columns.eq(14).children('a').eq(1).attr("href", "/userList/delete/"+ records[i]['user_id'] +"&Users"); // detele button
                row.appendTo(record_table.find('tbody'));
            }
        }

        $(document).ready(function () {
            let table_name = 'User';
            let page_number = "1";
            let sort_field = "lastname";  // 默认以lastname排序
            let sort_order = null;
            let count = "10";
            let where_clause = "user_id LIKE '3%'"; // WHERE user_id LIKE 3% (管理员)

            $('#record_table').renderTable(table_name, page_number, sort_field, sort_order, count, where_clause, insert_records);

            $('#app_userList_add_roles').removeAttr("multiple");

            $(document).on('click', '.delete_user_confirm', function (e) {
                e.preventDefault();
                var linkURL = $(this).attr("href");
                confirmBeforeRedirect(linkURL);
            });

            function confirmBeforeRedirect(linkURL) {
                swal({
                    title: "确定删除该管理员吗？",
                    text: "该操作无法恢复！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    confirmButtonText: "确定删除！",
                    cancelButtonText: "取消"
                }, function() {
                    window.location.href = linkURL;
                });
            };
            $('#addRow').click(function () {
                $('#overlay').fadeIn('fast');
                $('#popupBox').fadeIn('fast');
                $('#popupContent').fadeIn('fast');
            });

            $('#overlay, #popupCancel').click(function () {
                $('#overlay').fadeOut('fast');
                $('#popupBox').fadeOut('fast');
                $('#popupContent').fadeOut('fast');
            });

            if ( $('#error_username').html().length > 0 ) {
                swal({
                    title: "出错啦",
                    text: "该用户名已被注册！",
                    type: "error"
                });
                $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
            }
            if ( $('#error_email').html().length > 0 ) {
                swal({
                    title: "出错啦",
                    text: "该邮箱已被注册！",
                    type: "error"
                });
                $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
            }
            if ( $('#error_phone').html().length > 0 ) {
                swal({
                    title: "出错啦",
                    text: "该手机号已被注册！",
                    type: "error"
                });
                $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
            }
        })
    </script>
{% endblock %}