{% extends 'layout.html.twig' %}
{% trans_default_domain 'ums' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/sweetalert/sweetalert.css') }}"/>
    <link rel="stylesheet" href="{{ asset('vendor/pagination/simplePagination.css') }}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock %}

{% block sidebar %}
    {% set tab_menu_index, tab_menu_profile, tab_menu_source, tab_admin_users, tab_admin_sellers, tab_admin_admins, tab_admin_products, tab_admin_histo, nav_menu, nav_admin = "", "", "", "active", "", "", "", "", "", "active" %}
    {{ parent() }}
{% endblock %}

{% block main_content %}
<div id="overlay"></div>
<div id="popupBox" class="animated flipInY">
        <div id="popupContent">
            <div class="header">
                <h2>{{ 'userList_pages.add_user_seller_admin'|trans }}</h2>
            </div>
            <div class="body">
                {{ form_start(form) }}
                <small class="text-muted">{{ form_label(form.username) }}
                    *</small>
                <p>{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors" id="error_username">{{ form_errors(form.username) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.firstname) }}</small>
                <p>{{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.lastname) }}
                    *</small>
                <p>{{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.lastname) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.sex) }}
                    *</small>
                <p>{{ form_widget(form.sex, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.email) }}
                    *</small>
                <p>{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors" id="error_email">{{ form_errors(form.email) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.id_card) }}
                    *</small>
                <p>{{ form_widget(form.id_card, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.id_card) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.date_birth) }}</small>
                <p>{{ form_widget(form.date_birth) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.phone) }}
                    *</small>
                <p>{{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors" id="error_phone">{{ form_errors(form.phone) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.wechat) }}</small>
                <p>{{ form_widget(form.wechat, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.address) }}
                    *</small>
                <p>{{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.address) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.region) }}
                    *</small>
                <p>{{ form_widget(form.region, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.region) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.plainPassword) }}
                    *</small>
                <p>{{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.plainPassword) }}</div>
                <hr>
                <small class="text-muted">{{ form_label(form.enabled) }}
                    *</small>
                <p>{{ form_widget(form.enabled, {'attr': {'class': 'form-control'}}) }}</p>
                <hr>
                <small class="text-muted">{{ form_label(form.roles) }}
                    *</small>
                <p>{{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}</p>
                <div class="form-control-errors">{{ form_errors(form.roles) }}</div>
                <hr>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="{{ 'user_infos.btn.submit'|trans }}">&nbsp;&nbsp;
                    <a href="javascript:void(0)" id="popupCancel" class="btn btn-default">{{ 'user_infos.btn.cancel'|trans }}</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>



    <div id="main-content" class="profilepage_2">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i
                                        class="fa fa-arrow-left"></i></a>{{ 'userList_pages.title_users'|trans }}</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item active">{{ 'userList_pages.title_users'|trans }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <a href="javascript:void(0)" id="addRow" class="btn btn-primary m-b-15 text-white">{{ 'userList_pages.add_user'|trans }}</a>
                            <div id="record_table" class="table-responsive">
                                <table class="table table-bordered table-striped table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="sortable" sortfield="CONCAT(lastname, firstname)">{{ 'user_infos.name'|trans }}</th>
                                            <th class="sortable" sortfield="username">{{ 'user_infos.username'|trans }}</th>
                                            <th class="sortable" sortfield="sex" optionlist="user_infos.sex">{{ 'user_infos.sex.title'|trans }}</th>
                                            <th class="sortable" sortfield="email">{{ 'user_infos.email'|trans }}</th>
                                            <th class="sortable" sortfield="user_id">{{ 'user_infos.user_id'|trans }}</th>
                                            <th class="sortable" sortfield="date_birth">{{ 'user_infos.date_birth'|trans }}</th>
                                            <th class="sortable" sortfield="id_card">{{ 'user_infos.id_card'|trans }}</th>
                                            <th class="sortable" sortfield="phone">{{ 'user_infos.phone'|trans }}</th>
                                            <th class="sortable" sortfield="wechat">{{ 'user_infos.wechat'|trans }}</th>
                                            <th class="sortable" sortfield="address">{{ 'user_infos.address'|trans }}</th>
                                            <th class="sortable" sortfield="region" optionlist="region">{{ 'user_infos.region'|trans }}</th>
                                            <th class="sortable" sortfield="responsible_id">{{ 'user_infos.responsible_id'|trans }}</th>
                                            <th class="sortable" sortfield="enabled" optionlist="user_infos.enabled">{{ 'user_infos.enabled.title'|trans }}</th>
                                            <th class="sortable" sortfield="date_register">{{ 'user_infos.date_register'|trans }}</th>
                                            <th>{{ 'userList_pages.action'|trans }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="copy_source" style="display: none">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-info"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-danger delete_user_confirm"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <h4>{{ 'userList_pages.add_user_by_file'|trans }}</h4>
                            <hr>
                            <div>
                                {{ form_start(form_file) }}
                                {{ form_widget(form_file) }}
                                <input type="text" disabled="disable" value="文件名" id="filename_display" style="margin-right:30px;">
                                <input type="submit" class="btn btn-primary" value="{{ 'user_infos.btn.submit'|trans }}">
                                {{ form_end(form_file) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div style="margin: 20px;">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="date_by_day" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">最近30天</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="date_by_week" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false">最近10周</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="date_by_month" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">最近6月</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="date_by_year" data-toggle="pill" role="tab" aria-controls="pills-contact" aria-selected="false">最近一年</a>
                        </li>
                    </ul>
                </div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset('vendor/chart.js/dist/Chart.js') }}"></script>
    <script src="{{ asset('js/tools.js') }}"></script>
    <script src="{{ asset('js/external/moment.min.js') }}"></script>
    <script src="{{ asset('vendor/pagination/jquery.simplePagination.js') }}"></script>
    <script>
        let chart;

        function create_chart(chart_labels, chart_data) {
            chart = new Chart(document.getElementById("myChart"), {
                "type": "line",
                "data": {
                    "labels": chart_labels,
                    "datasets": [{
                        "label": "用户总数",
                        "data": chart_data,
                        "fill": false,
                        "borderColor": "rgb(75, 192, 192)",
                        "lineTension": 0.1
                    }]
                },
                "options": {animation: false}
            });
        }

        function update_chart(chart_labels, chart_data){
            chart.reset();
            chart.data.labels = chart_labels;
            chart.data.datasets[0].data = chart_data;
            chart.update();
        }

        function op_chart(by, op){
            // 用户趋势数据读取
            $.ajax({
                url: '/service/get_user_count',
                type: "POST",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({'date_by': by}),
                success: function(data) {
                    let chart_labels = [];
                    let chart_data = [];
                    let dict = JSON.parse(data);
                    let accumulated_user_count = dict['accumulated_user_count'];
                    let filtered_users = dict['filtered_users'];
                    let filtered_user_count = Counter(filtered_users);
                    let date_cursor = new Date(dict['starting_date']);
                    let ending_date = new Date();
                    let count_acc = accumulated_user_count;
                    let tmp = [];
                    while(date_cursor <= ending_date){
                        let date_string = dateToYms(date_cursor);
                        if (date_string in filtered_user_count){
                            tmp.push(date_string);
                            count_acc += filtered_user_count[date_string];
                        }
                        chart_labels.push(date_string);
                        chart_data.push(count_acc);
                        date_cursor.setDate(date_cursor.getDate()+1);
                    }
                    if (op === 'create'){
                        create_chart(chart_labels, chart_data);
                    }else if(op === 'update'){
                        update_chart(chart_labels, chart_data);
                    }
                },
            });
        }

        function insert_records(records){
            i = 0;
            for (i in records){
                let row = $('#copy_source').clone().removeAttr('id style');
                let columns = row.children('td');
                columns.eq(0).text(records[i]['lastname'] + ' ' + records[i]['firstname']);  // full_name
                columns.eq(1).text(records[i]['username']);  // user_name
                columns.eq(2).text(records[i]['sex'] === '1' ? "{{ 'user_infos.sex.1'|trans }}" : "{{ 'user_infos.sex.0'|trans }}");  // sex
                columns.eq(3).text(records[i]['email']); // email
                columns.eq(4).text(records[i]['user_id']); // userid
                columns.eq(5).text(moment(new Date(records[i]['date_birth'])).format('YYYY-MM-DD')); // date_birth
                columns.eq(6).text(records[i]['id_card']); // id_card
                columns.eq(7).text(records[i]['phone']); // phone
                columns.eq(8).text(records[i]['wechat']); // wechat
                columns.eq(9).text(records[i]['address']); // address
                let user_region = "{{ 'r'|trans }}".replace('r', 'region.'+records[i]['region']);
                columns.eq(10).text(user_region); // user_region
                columns.eq(11).text(records[i]['responsible_id']); // responsible_id
                columns.eq(12).text(records[i]['enabled'] === 1 ? "{{ 'user_infos.enabled.1'|trans }}" : "{{ 'user_infos.enabled.0'|trans }}"); // enabled
                columns.eq(13).text(moment(new Date(records[i]['date_register'])).format('YYYY-MM-DD')); // date_register
                columns.eq(14).children('a').eq(0).attr("href", "/userList/edit/"+ records[i]['user_id'] +"&Users"); // modify button
                columns.eq(15).children('a').eq(1).attr("href", "/userList/delete/"+ records[i]['user_id'] +"&Users"); // detele button
                row.appendTo($('#record_table tbody'));
            }
        }


        $(document).ready(function () {
            let table_name = 'User';
            let page_number = "1";
            let sort_field = "lastname";  // 默认以lastname排序
            let sort_order = null;
            let count = "10";
            let where_clause = "user_id LIKE '1%'" // %20 为空格 WHERE user_id LIKE 1% (用户)

            $('#record_table').renderTable(table_name, page_number, sort_field, sort_order, count, where_clause, insert_records);

            $('.delete_user_confirm').click(function (e) {
                e.preventDefault();
                var linkURL = $(this).attr("href");
                confirmBeforeRedirect(linkURL);
            });

            function confirmBeforeRedirect(linkURL) {
                swal({
                    title: "确定删除该用户吗？",
                    text: "该操作无法恢复！",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#dc3545",
                    confirmButtonText: "确定删除",
                    cancelButtonText: "取消"
                }, function () {
                    window.location.href = linkURL;
                });
            }

            op_chart('day', 'create');

            $('#date_by_day').on('click', function () {
                op_chart('day', 'update');
            });
            $('#date_by_week').on('click', function () {
                op_chart('week', 'update');
            });
            $('#date_by_month').on('click', function () {
                op_chart('month', 'update');
            });
            $('#date_by_year').on('click', function () {
                op_chart('year', 'update');
            });

            $('#app_userList_add_roles').removeAttr("multiple");

            $('#addRow').click(function () {
                $('#overlay').fadeIn('fast');
                $('#popupBox').fadeIn('fast');
                $('#popupContent').fadeIn('fast');
            });

            $('#overlay, #popupCancel').click(function () {
                $('#overlay').fadeOut('fast');
                $('#popupBox').fadeOut('fast');
                $('#popupContent').fadeOut('fast');
            });

            if ($('#error_username').html().length > 0) {
                swal({title: "出错啦", text: "该用户名已被注册！", type: "error"});
                $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
            }
            if ($('#error_email').html().length > 0) {
                swal({title: "出错啦", text: "该邮箱已被注册！", type: "error"});
                $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
            }
            if ($('#error_phone').html().length > 0) {
                swal({title: "出错啦", text: "该手机号已被注册！", type: "error"});
                $('.sweet-alert p').attr('style', 'display:block;color:#de4848');
            }
        });



    </script>
{% endblock %}